body{
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.square{
  flex-grow: 1;
  height: 5px;
  width: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin: 20px 0px;
}
